# Project exclude paths
/.gradle/
/Problems/Boys in a sport class/out/
/Problems/Boys in a sport class/out/production/classes/
/Problems/Healthy sleep/out/
/Problems/Healthy sleep/out/production/classes/
/Problems/Hello, Java/out/
/Problems/Hello, Java/out/production/classes/
/Problems/Interval/out/
/Problems/Interval/out/production/classes/
/Problems/Next even number/out/
/Problems/Next even number/out/production/classes/
/Problems/Printing a magic letter/out/
/Problems/Printing a magic letter/out/production/classes/
/Problems/Queens/out/
/Problems/Queens/out/production/classes/
/Problems/The countdown/out/
/Problems/The countdown/out/production/classes/
/Problems/Three numbers/out/
/Problems/Three numbers/out/production/classes/
/Problems/We need to learn Java/out/
/Problems/We need to learn Java/out/production/classes/